body {
    color: #353535;
    min-width: 380px;
    background: url('/images/5.png');
}

#header .navbar-nav {
    float: none;
}

.notification {
    padding:0px 7px 0px 7px; 
    color:#fff;
    background: #ed7a53;
    border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    font-weight:700;
    font-size:12px;
    font-family: Tahoma;
    position: absolute;
    top:-11px;
    right:-10px;
    -webkit-box-shadow:  0px 1px 0px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
    box-shadow:  0px 1px 0px 0px rgba(0, 0, 0, 0.2);
    text-shadow:none;
}

.notification.green {background: #9fc569;}
.notification.blue { background: #88bbc8;}

	#header .logo {padding: 7px 0 2px 20px;}
		#header .logo a{color: #353535;}
		#header .logo a:hover {text-decoration:none;}

	.navbar {
		color:#3f3f3f; 
		position: relative; 
		margin-bottom: 0;
		min-height: 66px;
		padding-right: 0px;
		padding-left: 20px;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
		box-shadow: none;
		border:none;
		background:url('/images/4.png') repeat;
		border-bottom: 1px solid #c4c4c4;
	}
	.navbar .navbar-brand {
		padding: 0 20px 0;
		margin-left: -20px;
		margin-right: 55px;
		font-size: 30px;
		font-weight: 700;
		line-height: 45px;
		color: #353535;
		height: 65px;
		line-height: 62px;
		float: left;
	}
	.navbar .navbar-brand:hover {text-decoration: none;}
	.navbar .navbar-brand .slogan {font-size:14px; color: #6b6b6b;}
	.navbar .nav {
		margin: 15px 10px 5px 20px;
	}

	.navbar .nav > li {
		display: block;
		float: left;
		margin-right:20px;
		position: relative;
	}

	.navbar .nav > li > a {
		float: none;
		line-height: 18px;
		font-size: 12px;
		color: #555;
		padding:8px 10px;
		border:1px solid;
		border-radius:2px;
		-webkit-border-radius:2px;
		-moz-border-radius:2px;
		position: relative;
		-webkit-text-shadow: 0 1px 0 white;
		-moz-text-shadow: 0 1px 0 white;
		text-shadow: 0 1px 0 white;
		border-color: #CCC #CCC #AAA;
		background-color: #E0E0E0;
		-moz-box-shadow: inset 0 0 1px #fff;
		-ms-box-shadow: inset 0 0 1px #fff;
		-webkit-box-shadow: inset 0 0 1px white;
		box-shadow: inset 0 0 1px white;
		filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#fffafafa,EndColorStr=#ffdcdcdc);
		background-image: -moz-linear-gradient(top,#FAFAFA 0,#DCDCDC 100%);
		background-image: -ms-linear-gradient(top,#FAFAFA 0,#DCDCDC 100%);
		background-image: -o-linear-gradient(top,#FAFAFA 0,#DCDCDC 100%);
		background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#FAFAFA),color-stop(100%,#DCDCDC));
		background-image: -webkit-linear-gradient(top,#FAFAFA 0,#DCDCDC 100%);
		background-image: linear-gradient(to bottom,#FAFAFA 0,#DCDCDC 100%);
	}

	.navbar .nav .active > a {
		color: #3f3f3f;
		text-decoration: none;
		filter: progid:DXImageTransform.Microsoft.gradient(enabled='false');
		background: #fff;
		box-shadow: none;
	}
	.navbar .nav .active > a:after{
		content:"";
		background: url(/images/arrowdown.png) no-repeat;
		width:11px;
		height:8px;
		position: absolute;
		bottom:-8px;
		left:50%;
		margin-left:-5px;
	}
	.navbar .nav .active > a:hover {
		border-color: rgb(170, 170, 170) rgb(170, 170, 170) rgb(153, 153, 153);
	    -webkit-box-shadow:  0px 1px 2px rgba(0, 0, 0, 0.25), 0px 0px 3px rgb(255, 255, 255) inset;
		-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25), 0px 0px 3px rgb(255, 255, 255) inset;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25), 0px 0px 3px rgb(255, 255, 255) inset;
		background: #fff;
		color: #3f3f3f;
	}
	.navbar .nav li > a:hover {
		color: #3f3f3f;
		background: rgb(232,232,232);
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4ZThlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOWY5ZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(232,232,232,1) 0%, rgba(249,249,249,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,232,232,1)), color-stop(100%,rgba(249,249,249,1)));
		background: -webkit-linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(249,249,249,1) 100%);
		background: -o-linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(249,249,249,1) 100%);
		background: -ms-linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(249,249,249,1) 100%);
		background: linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(249,249,249,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#f9f9f9',GradientType=0 );
		text-decoration:none;
	    border-color: rgb(170, 170, 170) rgb(170, 170, 170) rgb(153, 153, 153);
	    -webkit-box-shadow:  0px 1px 2px rgba(0, 0, 0, 0.25), 0px 0px 3px rgb(255, 255, 255) inset;
		-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25), 0px 0px 3px rgb(255, 255, 255) inset;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25), 0px 0px 3px rgb(255, 255, 255) inset;
	}

	.navbar .nav .avatar {position: relative;padding-left:44px;}
	.navbar .nav .image {
		position: absolute;
		left:1px;
		top:1px;
		width:36px;
		height:32px;
	}

	.dropdown-menu {
		font-size:12px;
		position: absolute;
		top: 55px;
		left: 0;
		z-index: 9999;
		display: none;
		float: left;
		min-width: 160px;
		padding: 4px;
		margin: 0;
		list-style: none;
		background: #efefef;
		border: 1px solid #c4c4c4;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		-moz-box-shadow:0 1px 0px rgba(255, 255, 255, 1);
		-webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
		box-shadow: 0 1px 0px rgba(255, 255, 255, 1);

		-webkit-background-clip: padding-box;
		-moz-background-clip: padding;
		background-clip: padding-box;
	}
		
	.navbar .dropdown-menu:before {
		content: "";
		position: absolute;
		top:-13px !important;
		background: url(/images/arrowup.png) no-repeat !important;
		width:15px !important;
		height:14px !important;
		border:none !important;
		z-index: 5;
	}
	.dropdown-menu a {
		display: inline-block;
		padding:5px 0 5px 5px;
		clear: both;
		font-weight: normal;
		line-height: 14px;
		color: #333;
		white-space:normal;
		width: 98%;
	}
	.dropdown .menu ul li a span {margin-right: 15px;}
	.navbar .nav li.dropdown ul a:hover {
	    color: rgb(63, 63, 63);
	    background: none;
	    text-decoration: underline;
	    border: none;
	    box-shadow: none;
	}

	.dropdown-menu .menu {
		border: 1px solid #c4c4c4;
		border-radius: 2px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		display: block;
		float: left;
		background: #fff;
		padding:0 10px;
		margin-bottom: 0;
		min-width: 150px;
	}
	.dropdown-menu .menu ul {list-style:none; margin: 0;padding-left: 0;}
	.dropdown-menu .menu li {
		border-bottom: 1px solid #ebebeb;
		margin:0;
		padding-bottom: 8px;
		padding-top:10px;
		line-height:14px;
		width:100%;
	}
	.dropdown-menu .menu li:last-child{border-bottom: none;}
	.dropdown-menu .icon {
		float: left;
		padding:6px 1px 6px 1px;
		border:1px solid #ebebeb;
		border-radius: 2px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		background: #efefef;
		margin-right:10px;
		margin-bottom:10px;
		width:30px;
		height: 30px;
	}
	.dropdown-menu .icon.avatar img {width: 24px;height: 24px;}
	.dropdown-menu .header {font-size:13px;}

	.dropdown-menu li > a {padding:5px 1px;}
	.btn-group .dropdown-menu li > a {padding: 5px;padding-right:0; margin-right: 0; width: 100%;}
	.btn-group .dropdown-menu li:last-child {margin-bottom: 0;}

	.caret {
		display: inline-block;
		width: 0;
		height: 0;
		border-top: 4px solid #666666;
		border-right: 4px solid transparent;
		border-left: 4px solid transparent;
		content: "";
		opacity: 1;
		filter: alpha(opacity=100);
	}
	.nav li.dropdown.open .caret, .nav li.dropdown.open.active .caret, .nav li.dropdown.open a:hover .caret {
	    border-top-color: #666666;
	    border-bottom-color: #666666;
	    opacity: 0.8;
	}

	.navbar .nav li.dropdown .dropdown-toggle .caret, .navbar .nav li.dropdown.open .caret {
		border-top-color: #666666;
		border-bottom-color: #666666;
	}

	.nav.pull-right.usernav li.dropdown a span.icon16 {padding-top: 2px;}
	.nav.usernav {margin-right: 0;}
	.nav.usernav li:last-child {margin-right: 0;}
	.nav.usernav li:first-child a {height: 36px;}

    .navbar .nav > li.logout,
    .navbar .nav > li.collapse-navbar {
        float: right;
    }

@media only screen and (min-width: 480px) and (max-width: 630px) {
    .navbar .txt {
        display: none;
    }
}

#enlarge-navbar {
    display: none;
}

@media only screen and (max-width: 480px) {
    #enlarge-navbar {
        display: block;
    }

    #navbar-collapse {
        display: none;
    }

    .navbar-brand > span {
        display: none;
    }
}

.navbar-nav .open .dropdown-menu {
    position: absolute !important;
}

.heading {
	height:49px;
	border-bottom: 1px solid #c4c4c4;
	background: rgb(255,255,255);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 1%, rgba(243,243,243,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,255,255,1)), color-stop(100%,rgba(243,243,243,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
	background: linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );
	-moz-box-shadow:0 1px 0px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
	box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
	z-index:1;
	min-width: 100%;
	position: relative;
	padding-left: 26px;
	margin-bottom: 0;
}

.heading h3 {
    line-height:48px;
    float: left;
    margin: 0 20px 0 0;
}

.heading .breadcrumb {
    float: right;
    padding: 15px 10px 6px 10px;
    margin:0 20px 0 0;
    background: none;
    border: none;
    box-shadow: none;
}

.heading .breadcrumb > li + li:before {display: none}
.heading .breadcrumb span {margin-left:0; margin-right: 0;}
.heading .breadcrumb li:first-child {margin-right: 8px;}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 0;
    right: 40px;
}

.center {
    text-align: center;
}

.navbar .navbar-brand-center {
    float: none;
}

.right {
    float: right;
}

.left {
    float: left;
}